.main {
    max-width: 1080px;
    margin: 50px auto;
    .tasks {
        
        // input {
        //     cursor: pointer;
        // }

        p {
            margin-left: 5px;
        }

        button {
            margin-left: 20px;
        }
    }
}

.header {
    input {
        margin-left: 5px;
    }
    button {
        cursor: pointer;
        margin-left: 10px;
    }
}

.items {
    display: flex;
    align-items: center;

    .but {
        cursor: pointer;
    }
    .inp {
        cursor: pointer;
    }

}