.main {
    max-width: 1080px;
    margin: 50px auto;
    header {
        text-align: center;
    }

    .cards {
        // text-align: center;
        // display: flex;
        // justify-content: space-between;
        margin-right: 20px;
    }
}

.card {
    min-width: 30vh;
    border: 1px solid #000000;
    border-radius: 20px;
    // display: flex;
    // justify-content: space-between;

    header {
        text-align: center;
        button {
            cursor: pointer;
        }
    }
}

.items {
    display: flex;
    align-items: center;
}